body {
    background: white;
    color: black;
    font-size: 0px;
    margin: 0px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    /* border: 1px solid #AAA; */
    margin: 5vh;
}

.wrapper svg{
    height: 100%;
    width: 100%;
    /* border: 1px solid #ff0000; */
}

.c {
    display: inline-block;
    height: 20vh;
    /* border: 1px solid #00ff00; */
}

.row {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.n1 {
    display: inline-block;
    margin-right: 10vh;
}

.n2 {
    display: inline-block;
    margin-right: 2vh;
}

.l {
    width: 5vh;
}

.n1 .v {
    animation-name: stretch1;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.n2 .v {
    animation-name: stretch2;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.o {
    width: 20vh;
    margin-right: 2vh;
}

.a {
    width: 20vh;
    margin-right: 2vh;
}

.d {
    width: 20vh;
    margin-right: 10vh;
}

.letter {
    display: inline-block;
    width: 200px;
    fill: red;
}

@keyframes stretch1 {
    from {width: 3vw;}
    to {width: 35vw;}
}


@keyframes stretch2 {
    from {width: 35vw;}
    to {width: 3vw;}
}

/*

@keyframes stretch3 {
    from {width: 9%;}
    to {width: 79%;}
}

@keyframes stretch4 {
    from {width: 45%;}
    to {width: 10%;}
}

@keyframes stretch5 {
    from {width: 9%;}
    to {width: 39%;}
}

@keyframes stretch6 {
    from {width: 40%;}
    to {width: 10%;}
} */

/* .c1 {
    animation-name: stretch1;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.c2 {
    animation-name: stretch2;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.c3 {
    animation-name: stretch3;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.c4 {
    animation-name: stretch4;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.c5 {
    animation-name: stretch5;
    animation-duration: 2.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.c6 {
    animation-name: stretch6;
    animation-duration: 2.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
} */

