body {
    background: white;
    color: black;
    cursor: url('../img/heart_face.png'), default;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.wrapper svg{
    height: 98%;
    width: 98%;
}

.c {
    display: inline-block;
    height: 20vh;
}

@keyframes stretch1 {
    from {width: 19%;}
    to {width: 80%;}
}

@keyframes stretch2 {
    from {width: 80%;}
    to {width: 19%;}
}

@keyframes stretch3 {
    from {width: 9%;}
    to {width: 79%;}
}

@keyframes stretch4 {
    from {width: 45%;}
    to {width: 10%;}
}

@keyframes stretch5 {
    from {width: 9%;}
    to {width: 39%;}
}

@keyframes stretch6 {
    from {width: 40%;}
    to {width: 10%;}
}

.c1 {
    animation-name: stretch1;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.c2 {
    animation-name: stretch2;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.c3 {
    animation-name: stretch3;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.c4 {
    animation-name: stretch4;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.c5 {
    animation-name: stretch5;
    animation-duration: 2.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.c6 {
    animation-name: stretch6;
    animation-duration: 2.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.ff {
    position: absolute;
    z-index: 100;
    width: 100px;
    top: 150px;
    right: 100px;
}

.ff:hover {
    cursor: pointer;
}


.heart {
    position: absolute;
    z-index: 100;
    width: 100px;
}

.heart1 {
    top: 100px;
    left: 100px;
}

.heart2 {
    top: 130px;
    left: 200px;
}

.heart3 {
    top: 240px;
    left: 400px;
}

.heart4 {
    top: 400px;
    left: 500px;
}

.heart5 {
    top: 420px;
    left: 50px;
}