body {
    background: white;
    color: black;
}

.wrapper {
    height: 97vh;
    width: 100vw;
}

.wrapper svg{
    height: 98%;
    width: 98%;
}



@keyframes example {
    from {fill: white;}
    to {fill: black;}
}

@keyframes example2 {
    from {background: black;}
    to {background: white;}
}

.w2 {
    animation-name: example;
    animation-duration: 0.01s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.w1 {
    animation-name: example;
    animation-duration: 0.01s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.o {
    animation-name: example;
    animation-duration: 0.01s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

body {
    animation-name: example2;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.emoji {
    z-index: 2;
    position: absolute;
    top: 10px;
    height: 200px;
    width: 600px;
    font-size: 80pt;
    left: 10%;
    text-align: center;
}

.hand1 {
    transform: rotate(12deg);
    margin-left: -20px;
}

.face1 {
    transform: rotate(12deg);
    margin-left: 400px;
}

.hand2 {
    transform: rotate(-10deg);
    margin-left: 650px;
}