@font-face {
    font-family: "Sachsenwald Regular";
    src: url("../fonts/Sachsenwald_Regular.otf") format("opentype");
  }

body {
    background: white;
    color: black;
    font-family: "Sachsenwald Regular";
    text-align: center;
    font-size: 60px;
}

img {
    margin-top: 20vh;
}





@keyframes example {
    from {color: white;}
    to {color: black;}
}

@keyframes example2 {
    from {background: black;}
    to {background: white;}
}
@keyframes invert {
    from {-webkit-filter: invert(100%);
        filter: invert(100%);}
    to {-webkit-filter: invert(0%);
        filter: invert(0%);}
}


body {
    animation-name: example2;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.inverter {
    animation-name: invert;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

p {
    position: absolute;
    top: 40vh;
    width: 100vw;
    z-index: 5;
    animation-name: example;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;}