body {
    background: white;
    color: black;
    padding: 0px;
    margin: 0px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 5;
}

.wrapper svg{
    height: 100%;
    width: 100%;
}

audio {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
    display:none;
}

@keyframes example {
    from {fill: blue;}
    to {fill: red;}
}

@keyframes example2 {
    from {background: red;}
    to {background: blue;}
}

.letter {
    animation-name: example;
    animation-duration: 0.01s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

body {
    animation-name: example2;
    animation-duration: 0.2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

