@font-face {
    font-family: "Sachsenwald Regular";
    src: url("../fonts/Sachsenwald_Regular.otf") format("opentype");
  }

audio {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
    display:none;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Sachsenwald Regular";
    font-size: 60px;
    margin: 0;
    padding: 0;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.lyrics {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#ff {
    width: 40px;
    position: absolute;
    z-index: 100;
    right: 40px;
    bottom: 40px;
    fill: #fff;
}

#ff:hover {
    fill: #AAA;
}