@font-face {
    font-family: "Sachsenwald Regular";
    src: url("../fonts/Sachsenwald_Regular.otf") format("opentype");
  }

audio {
    position: absolute;
    top: 50px;
    left: 50px;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Sachsenwald Regular";
    font-size: 60px;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
